autopep8==1.4.4
blinker==1.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-DebugTool==0.1.8
Flask-DebugToolbar==0.10.1
gunicorn==19.9.0
idna==2.8
IndicoIo==1.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
msgpack==0.5.6
msgpack-numpy==0.4.1
msgpack-python==0.5.6
nltk==3.4.5
numpy==1.16.2
Pillow==8.3.2
prompt-toolkit==2.0.9
pycodestyle==2.5.0
ratelimit==2.2.1
requests==2.21.0
six==1.12.0
urllib3==1.24.3
wcwidth==0.1.7
Werkzeug==0.16.0
wit==5.1.0
