{% extends 'battlebase.html' %}

{% block opponent %}
  <div class="robot-container">
    <div class="card">
      <img id="mmm-image" class="card-img-top" src="../static/img/minmacmoe/mmm1.PNG" alt="You can't beat me!">
      <div class="card-body">
        <h5 class="card-title">Minnie Mac Moe</h5>
        <p id="trash-talk" class="card-text text-center">YOU CAN'T BEAT ME</p>
        <button class="fight btn btn-danger">Fight me</button>
        <a href="/" class="btn btn-info">Run Away</a>
      </div>
    </div>
  </div>
{% endblock %}
  

{% block board %}
  <div id="game">
      <div class="grid-container">
        <div id="board">
          <div class="square"></div>
          <div class="square v"></div>
          <div class="square"></div>
          
          <div class="square h"></div>
          <div class="square v h"></div>
          <div class="square h"></div>
    
          <div class="square"></div>
          <div class="square v"></div>
          <div class="square"></div>
        </div>
      </div>
  </div>
  {% endblock %}



