<div class="card" style="width:400px">
    <div class="card-img-top messages pull-right" style="width:400px">
       
		
        <!-- chat text here-->
    </div>
    <div class="card-body">
       <p class="card-text"></p>
       <form action="" id="chat">
           <div class="input-group">
               <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
               <span class="input-group-btn">
                   <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                       Send</button>
            </span>
           </div>
       </form>
    </div>
</div>