<div class="card" style="width:400px">
    <div class="card-img-top messages pull-right" style="width:400px">
       <ul id="chat-messages" class="list-group" style="padding: 10px 10px">

           <!-- chat text here-->
       </ul>
		
    </div>
    <div class="card-body">
       <p class="card-text"></p>
       <form action="" id="chat-form">
           <div class="input-group">
               <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
               <span class="input-group-btn">
                   <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                       Send</button>
            </span>
           </div>
       </form>
    </div>
</div>